<!-- Load c3.css -->
<link href='../js/c3-0.3.0/c3.css' rel="stylesheet" type="text/css"/>

<!-- Load d3.js and c3.js -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src='../js/c3-0.3.0/c3.min.js'></script>
<div id=chart></div>
<script> c3.generate({{data}}); </script>